<settings>
<servers>
  <server>
    <id>astro-astro-devops-cicd-codeartifact</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>
<profiles>
  <profile>
    <id>astro-astro-devops-cicd-codeartifact</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>astro-astro-devops-cicd-codeartifact</id>
        <url>https://astro-311278774144.d.codeartifact.ap-northeast-1.amazonaws.com/maven/astro-devops-cicd-codeartifact/</url>
      </repository>
    </repositories>
  </profile>
</profiles>
<mirrors>
  <mirror>
    <id>astro-astro-devops-cicd-codeartifact</id>
    <name>astro-astro-devops-cicd-codeartifact</name>
    <url>https://astro-311278774144.d.codeartifact.ap-northeast-1.amazonaws.com/maven/astro-devops-cicd-codeartifact/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>
</settings>
